.suggest {
  position: relative;
}

.suggest > input {
  z-index: 0;
}

.suggest-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  width: 100%;
  min-width: 10rem;
  max-height: 10rem;
  overflow-x: auto;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: var(--bs-body-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
}

.suggest-menu.show {
  display: block;
}

.suggest-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: var(--bs-body-color);
  text-align: inherit;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.suggest-item.hover, .suggest-item.focus, .suggest-item:hover, .suggest-item:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-tertiary-bg);
}

.suggest-item.active, .suggest-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd;
}

.suggest-item.disabled, .suggest-item:disabled {
  color: var(--bs-tertiary-color);
  pointer-events: none;
  background-color: transparent;
}

.suggest-error {
  display: block;
  padding: 0.25rem 1rem;
  color: var(--bs-danger-text-emphasis);
  background-color: var(--bs-danger-bg-subtle);
  border: 1px solid var(--bs-danger-border-subtle);
  border-radius: var(--bs-border-radius);
  margin-right: .5rem;
  margin-left: .5rem;
}

.suggest-spinner {
  position: absolute;
  top: 5px;
  right: 5px;
  height: calc(100% - 10px);
  z-index: 1;
}